In [17]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [18]:
food_loss_data = "Resources/FAO_Food_Loss.csv"
loss_by_country = "Resources/Food_Loss_By_Country.csv"

In [19]:
food_loss_df = pd.read_csv(food_loss_data)
by_country_df = pd.read_csv(loss_by_country)
food_loss_df = pd.DataFrame(food_loss_df)
food_loss_df.head()

,m49_code,country,region,cpc_code,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,activity1,...,notes,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,104,Myanmar,NaN,23161.02,"Rice, milled",2015,1.78,1.78%,26.12kgs,Storage,...,Reference has been generated automatically,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,104,Myanmar,NaN,23161.02,"Rice, milled",2015,11.77,11.77%,88.18kgs,Storage,...,Reference has been generated automatically,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,104,Myanmar,NaN,23161.02,"Rice, milled",2015,5.88,5.88%,44.09kgs,Storage,...,Reference has been generated automatically,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,104,Myanmar,NaN,23161.02,"Rice, milled",2015,3.57,3.57%,52.24kgs,Storage,...,Reference has been generated automatically,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,104,Myanmar,NaN,23161.02,"Rice, milled",2015,17.65,17.65%,132.27kgs,Storage,...,Reference has been generated automatically,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# filter out the empty columns
food_loss_clean = food_loss_df[["m49_code", "country", "region", "commodity", "year", "loss_percentage", "loss_percentage_original", "loss_quantity", "activity1", "activity2", "food_supply_stage", "treatment", "cause_of_loss"]]
food_loss_clean.head()

,m49_code,country,region,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,activity1,activity2,food_supply_stage,treatment,cause_of_loss
0,104,Myanmar,NaN,"Rice, milled",2015,1.78,1.78%,26.12kgs,Storage,NaN,Storage,"30 days storage, with trapping",Rodents
1,104,Myanmar,NaN,"Rice, milled",2015,11.77,11.77%,88.18kgs,Storage,NaN,Storage,"60 days storage, no trapping",Rodents
2,104,Myanmar,NaN,"Rice, milled",2015,5.88,5.88%,44.09kgs,Storage,NaN,Storage,"30 days storage, no trapping",Rodents
3,104,Myanmar,NaN,"Rice, milled",2015,3.57,3.57%,52.24kgs,Storage,NaN,Storage,"60 days storage, with trapping",Rodents
4,104,Myanmar,NaN,"Rice, milled",2015,17.65,17.65%,132.27kgs,Storage,NaN,Storage,"90 days storage, no trapping",Rodents

In [21]:
# Check number of rows per country
count_per_country = food_loss_clean.groupby("country")
count_per_country.count()

,m49_code,region,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,activity1,activity2,food_supply_stage,treatment,cause_of_loss
country,,,,,,,,,,,,
Africa,1,0,1,1,1,1,0,0,0,1,0,0
Algeria,2,0,2,2,2,2,0,0,0,2,0,0
Angola,726,0,726,726,726,726,0,726,220,616,0,0
Argentina,14,0,14,14,14,14,13,13,0,14,13,0
Armenia,38,0,38,38,38,38,0,20,8,38,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
Viet Nam,16,0,16,16,16,16,8,11,3,15,11,0
Western Africa,4,0,4,4,4,4,0,4,0,4,0,0
Western Asia,5,0,5,5,5,5,0,5,2,5,0,0
Zambia,772,5,772,772,772,772,1,762,220,684,4,8
Zimbabwe,495,69,495,495,495,495,0,495,132,429,73,54

In [22]:
# figure out which countries have some much 
count_per_country_sorted = count_per_country.count().sort_values(by="m49_code", ascending=False)
count_per_country_sorted.head(20)

,m49_code,region,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,activity1,activity2,food_supply_stage,treatment,cause_of_loss
country,,,,,,,,,,,,
United States of America,3094,0,3094,3094,3094,3094,13,191,96,3094,90,6
India,1354,140,1354,1354,1354,1354,111,1062,133,1351,46,136
Ethiopia,1064,27,1064,1064,1064,1064,8,1002,290,933,83,28
Kenya,1054,77,1054,1054,1054,1054,11,998,269,917,146,108
Uganda,866,31,866,866,866,866,7,851,279,734,8,18
Ghana,817,99,817,817,817,817,6,724,332,729,100,103
Malawi,803,14,803,803,803,803,9,747,223,693,29,18
Senegal,799,23,799,799,799,799,1,748,220,689,0,40
Zambia,772,5,772,772,772,772,1,762,220,684,4,8
Burkina Faso,758,0,758,758,758,758,0,750,220,648,6,4
Angola,726,0,726,726,726,726,0,726,220,616,0,0
Benin,719,34,719,719,719,719,2,661,237,608,28,49
Mali,626,0,626,626,626,626,0,619,264,493,2,6
United Republic of Tanzania,603,57,603,603,603,603,2,552,231,489,28,32
Mozambique,595,9,595,595,595,595,0,590,177,507,9,1
Rwanda,591,0,591,591,591,591,0,552,191,503,5,47
Bangladesh,574,320,574,574,574,574,97,440,72,573,271,40
Nigeria,561,26,561,561,561,561,7,475,189,467,27,72
Togo,541,0,541,541,541,541,0,529,220,431,1,10
Gambia,530,0,530,530,530,530,0,529,220,420,0,1

In [23]:
countries_list = ["Ethiopia", "Kenya", "Uganda", "Malawi", "Senegal", "Zambia", "Burkina Faso", "Angola", "Benin", "Mali", "United Republic of Tanzania", "Mozambique", "Rwanda", "Nigeria"]
african_data = food_loss_clean[food_loss_clean['country'].isin(countries_list)]
african_data

,m49_code,country,region,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,activity1,activity2,food_supply_stage,treatment,cause_of_loss
2245,204,Benin,NaN,Rice,2022,4.70,4.70%,NaN,Threshing,NaN,Farm,Manual threshing,NaN
2246,204,Benin,NaN,Rice,2022,3.42,3.42%,NaN,Storage,NaN,Storage,Paddy and milled rice,NaN
2247,204,Benin,NaN,Rice,2022,10.97,10.97%,NaN,Harvesting,NaN,Harvest,Manual harvesting,NaN
2248,204,Benin,NaN,Rice,2022,2.80,2.80%,NaN,Harvesting,NaN,Harvest,Harvesting with manual per panicle,NaN
2249,204,Benin,NaN,Rice,2022,1.09,1.09%,NaN,Winnowing,NaN,Farm,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27738,894,Zambia,"Chivuna, Chalimbana,",Maize (corn),1977,13.00,13,NaN,NaN,NaN,Storage,NaN,Insects
27739,894,Zambia,NaN,Maize (corn),1977,15.00,9.0-21,NaN,NaN,NaN,Storage,NaN,NaN
27740,894,Zambia,NaN,Sorghum,1977,5.00,0-10,NaN,NaN,NaN,Whole supply chain,NaN,NaN
27741,894,Zambia,NaN,Millet,1977,10.00,10,NaN,NaN,NaN,Storage,NaN,On-Farm Storage
27742,894,Zambia,NaN,"Cow peas, dry",1977,40.00,40,NaN,NaN,NaN,Storage,NaN,NaN

In [24]:
african_data.loc[african_data["activity1"] == "Storage", "food_supply_stage"] = "Storage"
african_data.loc[african_data["activity1"] == "Transportation", "food_supply_stage"] = "Transportation"
african_data.loc[african_data["activity1"] == "Shelling", "food_supply_stage"] = "Harvest"
african_data.loc[african_data["food_supply_stage"] == "Transport", "food_supply_stage"] = "Transportation"
african_data.loc[african_data["activity1"] == "Drying", "food_supply_stage"] = "Farm"
african_data.loc[african_data["food_supply_stage"] == "Collector", "food_supply_stage"] = "Harvest"
african_data

,m49_code,country,region,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,activity1,activity2,food_supply_stage,treatment,cause_of_loss
2245,204,Benin,NaN,Rice,2022,4.70,4.70%,NaN,Threshing,NaN,Farm,Manual threshing,NaN
2246,204,Benin,NaN,Rice,2022,3.42,3.42%,NaN,Storage,NaN,Storage,Paddy and milled rice,NaN
2247,204,Benin,NaN,Rice,2022,10.97,10.97%,NaN,Harvesting,NaN,Harvest,Manual harvesting,NaN
2248,204,Benin,NaN,Rice,2022,2.80,2.80%,NaN,Harvesting,NaN,Harvest,Harvesting with manual per panicle,NaN
2249,204,Benin,NaN,Rice,2022,1.09,1.09%,NaN,Winnowing,NaN,Farm,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27738,894,Zambia,"Chivuna, Chalimbana,",Maize (corn),1977,13.00,13,NaN,NaN,NaN,Storage,NaN,Insects
27739,894,Zambia,NaN,Maize (corn),1977,15.00,9.0-21,NaN,NaN,NaN,Storage,NaN,NaN
27740,894,Zambia,NaN,Sorghum,1977,5.00,0-10,NaN,NaN,NaN,Whole supply chain,NaN,NaN
27741,894,Zambia,NaN,Millet,1977,10.00,10,NaN,NaN,NaN,Storage,NaN,On-Farm Storage
27742,894,Zambia,NaN,"Cow peas, dry",1977,40.00,40,NaN,NaN,NaN,Storage,NaN,NaN

In [25]:
blank_rows = african_data[african_data['food_supply_stage'].isnull() | (african_data['food_supply_stage'] == '') & (african_data['activity1'].isnull())]
blank_rows

,m49_code,country,region,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,activity1,activity2,food_supply_stage,treatment,cause_of_loss
2903,204,Benin,NaN,Maize (corn),2000,17.80,2.1-33.5,NaN,NaN,NaN,NaN,NaN,NaN
9729,404,Kenya,NaN,Maize (corn),2012,15.15,9.7-20.6,NaN,NaN,NaN,NaN,NaN,NaN
10039,404,Kenya,NaN,Maize (corn),2006,5.75,3.9-7.6,NaN,NaN,NaN,NaN,NaN,NaN
10040,404,Kenya,NaN,Maize (corn),2006,24.20,19.3-29.1,NaN,NaN,NaN,NaN,NaN,NaN
10117,404,Kenya,NaN,Maize (corn),2004,14.25,13.5-15,NaN,NaN,NaN,NaN,NaN,Insects; Maize Stem Borer
10308,404,Kenya,"Nakuru market, Kenya",Bananas,1994,32.00,18.2-45.8,NaN,NaN,NaN,NaN,NaN,Mechanical Decay
10313,404,Kenya,NaN,Flour of triticale,1977,30.00,30,NaN,NaN,NaN,NaN,NaN,NaN
12505,466,Mali,NaN,Millet,1978,3.00,2.0-4,NaN,NaN,NaN,NaN,NaN,On-farm store
15732,566,Nigeria,NaN,Maize (corn),1978,3.00,1.0-5,NaN,NaN,NaN,NaN,NaN,NaN
15733,566,Nigeria,NaN,Sorghum,1978,18.50,0-37,NaN,NaN,NaN,NaN,NaN,On-farm stores
15734,566,Nigeria,NaN,Millet,1978,0.15,.1-.2,NaN,NaN,NaN,NaN,NaN,On-Farm Storage
15735,566,Nigeria,NaN,Maize (corn),1977,37.75,5.5-70,NaN,NaN,NaN,NaN,NaN,NaN
15736,566,Nigeria,NaN,Maize (corn),1977,3.00,1.0-5,NaN,NaN,NaN,NaN,NaN,NaN
15737,566,Nigeria,NaN,Millet,1977,0.15,0.1-0.2,NaN,NaN,NaN,NaN,NaN,On-Farm Storage
22902,834,United Republic of Tanzania,NaN,Sweet potatoes,2007,45.30,23.7-66.9,NaN,NaN,NaN,NaN,NaN,NaN
23000,834,United Republic of Tanzania,NaN,Sweet potatoes,2003,34.15,32.5-35.8,NaN,NaN,NaN,NaN,NaN,NaN
23097,834,United Republic of Tanzania,NaN,Maize (corn),1985,14.45,2.5-26.4,NaN,NaN,NaN,NaN,NaN,NaN
23098,834,United Republic of Tanzania,NaN,Maize (corn),1982,8.15,5.2-11.1,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
african_data = african_data.drop(blank_rows.index)
african_data

,m49_code,country,region,commodity,year,loss_percentage,loss_percentage_original,loss_quantity,activity1,activity2,food_supply_stage,treatment,cause_of_loss
2245,204,Benin,NaN,Rice,2022,4.70,4.70%,NaN,Threshing,NaN,Farm,Manual threshing,NaN
2246,204,Benin,NaN,Rice,2022,3.42,3.42%,NaN,Storage,NaN,Storage,Paddy and milled rice,NaN
2247,204,Benin,NaN,Rice,2022,10.97,10.97%,NaN,Harvesting,NaN,Harvest,Manual harvesting,NaN
2248,204,Benin,NaN,Rice,2022,2.80,2.80%,NaN,Harvesting,NaN,Harvest,Harvesting with manual per panicle,NaN
2249,204,Benin,NaN,Rice,2022,1.09,1.09%,NaN,Winnowing,NaN,Farm,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27738,894,Zambia,"Chivuna, Chalimbana,",Maize (corn),1977,13.00,13,NaN,NaN,NaN,Storage,NaN,Insects
27739,894,Zambia,NaN,Maize (corn),1977,15.00,9.0-21,NaN,NaN,NaN,Storage,NaN,NaN
27740,894,Zambia,NaN,Sorghum,1977,5.00,0-10,NaN,NaN,NaN,Whole supply chain,NaN,NaN
27741,894,Zambia,NaN,Millet,1977,10.00,10,NaN,NaN,NaN,Storage,NaN,On-Farm Storage
27742,894,Zambia,NaN,"Cow peas, dry",1977,40.00,40,NaN,NaN,NaN,Storage,NaN,NaN

In [27]:
amount_of_waste = african_data.groupby("food_supply_stage")["loss_percentage"].mean()
amount_of_waste_sorted = amount_of_waste.sort_values(ascending=False)
amount_of_waste_sorted

food_supply_stage
Export                25.750000
Retail                18.872182
Post-harvest          18.084444
Wholesale             15.080364
Whole supply chain    13.768627
Trader                10.318462
Processing             7.427778
Market                 5.654286
Farm                   4.353896
Households             3.750000
Storage                3.373234
Harvest                2.864030
Transportation         1.776290
Distribution           1.096000
Name: loss_percentage, dtype: float64

In [28]:
commodity_wasted = african_data.groupby("commodity")["loss_percentage"].mean()
commodity_wasted_sorted = commodity_wasted.sort_values(ascending=False)
commodity_wasted_sorted

commodity
Mangoes, guavas and mangosteens                                               27.285185
Yams                                                                          25.689474
Onions and shallots, green                                                    24.612500
Oranges                                                                       22.376471
Tomatoes                                                                      18.265625
Bananas                                                                       17.940500
Tangerines, mandarins, clementines                                            17.400000
Cow peas, dry                                                                 17.266667
Cantaloupes and other melons                                                  16.700000
Plantains and cooking bananas                                                 16.225000
Lentils, dry                                                                  16.000000
Mixed grain                                                                   15.966667
Sweet potatoes                                                                15.864286
Pineapples                                                                    15.273684
Groundnuts, excluding shelled                                                 12.731739
Chillies and peppers, green (<i>Capsicum</i> spp. and <i>Pimenta</i> spp.)    12.333333
Papayas                                                                       11.500000
Broad beans and horse beans, dry                                              11.190000
Potatoes                                                                      10.226279
Pepper (<i>Piper</i> spp.), raw                                                9.943333
Sunflower seed                                                                 9.106364
Cassava, dry                                                                   8.586667
Cassava, fresh                                                                 8.386078
Chillies and peppers, dry (<i>Capsicum</i> spp., <i>Pimenta</i> spp.), raw     8.000000
Groundnuts, shelled                                                            7.750000
Beans, dry                                                                     6.228387
Sesame seed                                                                    5.380000
Pigeon peas, dry                                                               4.566667
Grapes                                                                         4.300000
Maize (corn)                                                                   4.185592
Flour of triticale                                                             4.020000
Peas, dry                                                                      3.530000
Other pulses n.e.c.                                                            3.330000
Wheat                                                                          3.012829
Sorghum                                                                        2.902786
Edible roots and tubers with high starch or inulin content, n.e.c., fresh      2.700000
Flour of cassava                                                               2.666667
Fonio                                                                          2.454864
Barley                                                                         2.380690
Rice                                                                           2.349085
Broad beans and horse beans, green                                             2.200000
Millet                                                                         2.188844
Pomelos and grapefruits                                                        1.900000
Oats                                                                           1.650000
Lemons and limes                                                               1.300000
Bambara beans, dry                                                             1.280000
Dairy products n.e.c.                                                          1.266667
Cabbages                                                                       1.100000
Carrots and turnips                                                            1.100000
Name: loss_percentage, dtype: float64

In [29]:
waste_by_year = african_data.groupby("year")["loss_percentage"].mean()
waste_by_year_sorted = waste_by_year.sort_values(ascending=False)
waste_by_year_sorted

year
1994    31.645000
1986    21.166667
1974    18.852500
1970    18.500000
1976    16.370000
1973    14.250000
1969    14.250000
1982    12.798276
1992    12.533333
1991    11.136364
1977     8.913462
1997     8.300000
1998     7.940143
1975     6.677500
1968     5.400000
1987     5.357143
2009     4.886726
2010     4.618533
1978     4.464634
1995     4.300000
2012     4.110710
2022     4.055000
2013     4.051898
2015     3.716011
1996     3.366667
2016     3.308847
2018     3.272249
2014     3.219138
2017     3.081362
2005     3.030104
2001     2.918689
2011     2.891923
2008     2.822378
2019     2.782225
2021     2.723238
2006     2.710663
1979     2.700000
2007     2.617957
2004     2.614649
2002     2.589211
2003     2.587558
2020     2.582927
2000     2.571373
1981     2.010000
Name: loss_percentage, dtype: float64

In [30]:
waste_by_country = african_data.groupby("country")["loss_percentage"].mean()
waste_by_country_sorted = waste_by_country.sort_values(ascending=False)
waste_by_country_sorted

country
Benin                          5.235248
United Republic of Tanzania    4.489770
Nigeria                        4.291542
Kenya                          4.196380
Rwanda                         4.161885
Senegal                        3.133462
Ethiopia                       3.117120
Uganda                         2.965566
Malawi                         2.915527
Mozambique                     2.781575
Zambia                         2.668336
Mali                           2.667160
Burkina Faso                   2.639668
Angola                         2.519641
Name: loss_percentage, dtype: float64